{% extends "base.html" %}
{% load bulma_tags %}
{% block title %}Change your password{% endblock %}
{% block content %}
    <div class="form-header mb-3">
        <h1 class="title">Change your password</h1>
        <p>Use the form below to change your password.</p>
    </div>
    <form method="post">
        {{ form|bulma }}
        <div class="field">
            <div class="control">
                <input class="button is-primary" type="submit" value="Change">
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}